/* .tree-screen-container {
  border: 5px solid red;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  /* display: block; */
  /* background: red; */
  /* height: 80vh; */
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  overflow-y: scroll;
}
