* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding-bottom: 1.2rem;
}

.operation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

label {
  padding-right: 1.2rem;
}

.shaffle-order {
  margin-left: 1.2rem;
  background: white;
}

.search-res {
  margin-left: 1.2rem;
}

.found {
  background: rgb(106, 255, 106);
}

.not-found {
  background: rgb(255, 65, 65);
}

.search-res-cont {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.body {
  padding: 1rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 0.3rem;
}