* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* FONT */
  --FS: min(2.25rem, 3vh);

  /* COLOR */
  --LIGHT-COLOR: whitesmoke;

  /* GENERAL */
  --PADDING: 1.5em;
}

.bundle-container {
  border: 3px solid blue;
  background-color: var(--LIGHT-COLOR);
  padding: var(--PADDING);
}

ul {
  list-style: none;
}
