* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bundle-container {
  /* display: grid;
  grid-template-columns: 1fr 5fr; */
}

.header {
  padding-bottom: 1.2rem;
}

.operation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

label {
  padding-right: 1.2rem;
}

.shaffle-order {
  margin-left: 1.2rem;
  background: white;
}

.search-res {
  margin-left: 1.2rem;
}

.found {
  background: green;
}

.not-found {
  background: red;
}

.search-res-cont {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.body {
  padding: 1rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

li {
  margin-top: 0.3rem;
}